
/**selecteur:balise  fait référence aux balise html**/
body{margin: 05em;}




h1, p{border:solid 1px green;}
strong, em{color: blue;}
/**
*selecteur:ID commence par le signe #**/

#page-container{background-color: rgba(128,128,128);
} 

/**
*selecteur: ID commence par le signe #


    width: 1100px;
    margin: 0 auto;

   /**
    * - lien dans le pied de pages:
    * - texte noi,
    * - pas de soulignement **/
    .hide-outer {

        display: none;
    }

    
        

    



